<ion-view view-title="What do I do with my waste ?">
	<ion-content padding="true" class="note-content" >
		<div class="">
			<div style="text-align: center; margin-top: 40px; margin-bottom: 25px;">
				<img src="img/recycle_bin_green.png" alt="" style="max-width: 240px;">
			</div>
			<a class="button button-full button-balanced" ui-sref="research">
			  <strong>FIND LOCATION</strong>
			  <p style="color: white; margin:-25px 0 -10px 0; font-size: 12px;">a solution for my waste</p>
			</a>
			<a class="button button-full button-balanced" ui-sref="learn_more">
			  <strong>LEARN MORE</strong>
			</a>
			<a class="button button-full button-balanced" ui-sref="new_rec_center">
			  <strong>NEW RECYCLING CENTER</strong>
			</a>
		</div>
	</ion-content>
</ion-view>